# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

config DMA_NXP_SDMA
	bool "NXP SDMA driver"
	default y
	depends on DT_HAS_NXP_SDMA_ENABLED
	help
		Enable driver for NXP's SDMA IP.

config DMA_NXP_SDMA_BD_COUNT
	int "Number of SDMA buffer descriptors in an allocation pool"
	default 2
	help
          The number of Buffer Descriptors (BD). Each channel has its own statically
	  allocated pool.
